* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    position: relative;
    height: 100vh;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100vw;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 2;
}

#nav-bar.dark .nav-link {
    color: #000;
}

.nav-link, .name-link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    z-index: 2;
    display: none;
}

.nav-link:not(.name-link):hover {
    cursor: pointer;
    color: #dddbdb;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 20.33%;
}


.name-link {
    text-align: center;
    width: 33.33%;
    font-size: 32px;
    font-weight: 700;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 20.33%;
    justify-content: flex-end;
}

.contact-btn {
    color: #fff;
    font-weight: 700;
    border: 1.5px solid #fff;
    padding: 7px 15px;
    display: none;
}

.contact-btn:hover {
    cursor: pointer;
    color: #301508;
    background-color: #fff;
}

.contact-btn-dark {
    color: #000;
    border: 1.5px solid #000;
}

.contact-btn-dark:hover {
    cursor: pointer;
    color: #fff;
    background-color: #000;
}

.menu-button {
    width: 32px;
}

.menu-button:hover {
    cursor: pointer;
}

.logos {
    width: 20px;
}

#vinyl-image,
#vinyl-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

#vinyl-image {
    z-index: -2;
}

h1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 64px;
    position: absolute;
    top: 0;
    z-index: 1;
}

#about-section {
    min-height: 100vh;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: #fff;
}

#about-title {
    font-size: 40px;
}

.introduction, .poetry {
    font-size: 32px;
    font-weight: 200;
}


/* small phone */
@media (max-width: 390px) {
    #about-title {
        font-size: 32px;
    }

    .introduction, .poetry {
        font-size: 24px;
    }
}


/* medium screen */
@media (min-width: 640px) {
    h1 {
        font-size: 150px;
    }

    #about-title {
        font-size: 100px;
    }

    .introduction, .poetry {
        font-size: 52px;
    }
}


/* big screen */

@media (min-width: 1024px) {
    
    h1 {
        font-size: 178px;
    }

    .nav-link, .name-link {
        display: inline-block;
    }

    .contact-btn {
        display: inline-block;
    }

    #nav-bar {
        padding: 30px 50px;
    }

    #about-section {
        padding: 0 100px;
    }

    #about-title {
        font-size: 80px;
    }

    .introduction, .poetry {
        font-size: 40px;
    }

    .poetry {
        margin-left: 30px;
    }
}


