* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #373845;
}

#hero-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 20px 30px;
}

.title-desktop {
    display: none;
}

#name {
    line-height: 0.5;
    margin-top: 20px;
}

h2 {
    display: flex;
    align-items: center;
    gap: 5px;
}

h2, h3 {
    font-size: 16px;
    font-weight: normal;
}

.bullet {
    font-size: 30px;
    color: #A6AAB3;
}

p {
    color: #777883;
    line-height: 1.5;
    font-size: 14px;
}

#contact-btn {
    text-decoration: none;
    background-color: #0F0E13;
    color: #fff;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
}

/* Project section */
#project-section {
    background-color: #F6F8FA;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
}

#project-section h2 {
    margin-bottom: 20px;
}

.project-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgb(214, 214, 214, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-logo {
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgb(231, 230, 230);
}

.project-information {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.project-box-left {
    display: flex;
    gap: 10px;
}

.right-arrow {
    width: 20px;
}

.project {
    text-decoration: none;
    color: #373845;
}


/* contact section */
#contact-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    background-color: #F6F8FA;
    border-radius: 10px;
    padding: 20px;
}

.contact-links {
    display: flex;
    gap: 15px;
}

.contact-links img {
    width: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgb(227, 226, 226);
}


@media (min-width: 1024px) {
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .title-mobile {
        display: none;
    }

    .title-desktop {
        display: flex;
    }

    #right-screen {
        width: 40%;
    }
}