@import url('./assets/fonts/css/switzer.css');
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter_18pt-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Switzer-Regular, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 0.5px solid #DFE4DF;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.logo a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 11px;
}

.nav-links a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    border-radius: 7px;
    padding: 3px 7px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: #DFE4DF;
    transition: all 0.3s ease;
}

#hero-section {
    padding: 100px 40px 0;
}

h1,
.role {
    font-size: 56px;
    font-weight: 500;
    line-height: 1;
}

.introduction {
    font-size: 20px;
    padding: 35px 0 0; 
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

#work-section,
#about-section,
#contact-section,
footer {
    padding: 70px 40px 0;
}

h2 {
    font-size: 32px;
}

#about-section hr {
    border: 0.5px solid #DFE4DF;
    margin: 40px 0 15px;
}

#about-section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    padding: 20px 0;
}

#about-section p {
    font-size: 18px;
    color: #525252;
    line-height: 26px;
}

#about-section p:not(:last-child) {
    padding-bottom: 30px;
}

#about-section p:last-child {
    padding-bottom: 70px;
}

#contact-section hr {
    border: 0.5px solid #DFE4DF;
    margin: 30px 0;
}

#contact-section p {
    font-size: 18px;
    color: #525252;
    line-height: 26px;
    padding-bottom: 50px;
}

.contact-links {
    list-style: none;
}

.contact-links a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    display: inline-block;
    transition: all 0.3s ease;
}

.contact-links a:hover {
    color: #707070;
    transform: translateX(5px);
    transition: all 0.3s ease;
}

.contact-links hr {
    border: 0.5px solid #DFE4DF;
    margin: 20px 0 30px;
}

.contact-links hr:last-child {
    margin: 80px 0;
}

footer ul {
    list-style: none;
    padding-bottom: 30px;
}

footer li {
    padding-bottom: 20px;
}

footer a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #707070;
}


@media screen and (min-width: 700px) {
    #about-section img {
        object-position: 20% 70%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding-right: 200px;
    }
}

@media screen and (min-width: 1000px){
    nav {
        padding: 20px 60px;
    }

    .logo a {
        font-size: 21px;
    }

    .nav-links {
        gap: 20px;
    }

    .nav-links a {
        font-size: 16px;
    }

    #hero-section {
        padding: 100px 60px 0;
    }

    h1,
    .role {
        font-size: 76px;
    }

    .introduction {
        font-size: 22px;
        margin-left: 500px;
        padding-top: 80px;
    }

    h2 {
        font-size: 56px;
    }

    #work-section,
    #about-section,
    #contact-section,
    footer {
        padding: 70px 60px 0;
    }

    #about-section img {
        object-position: center;
        padding: 50px 0;
        height: 1000px;
    }

    #about-section p {
        font-size: 20px;
        line-height: 29px;
        margin-right: 250px;
    }

    #contact-section p {
        font-size: 20px;
        padding-top: 40px;
    }

    .contact-links a {
        font-size: 32px;
    }

    .contact-links li:first-child {
        padding-top: 40px;
    }

    .contact-links li:last-child {
        padding-bottom: 80px;
    }

    .contact-content {
        display: grid;
        grid-template-columns: 330px 1fr;
        gap: 30px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
    }

    footer a {
        font-size: 21px;
    }

}

@media screen and (min-width: 1300px) {
    nav {
        padding: 20px 100px;
    }

    .logo {
        font-size: 22px;
    }

    .nav-links {
        gap: 30px;
    }

    #hero-section {
        padding: 150px 100px 0;
    }

    h1, .role {
        font-size: 108px;
    }

    .introduction {
        font-size: 24px;
        line-height: 35px;;
        margin-left: 520px;
    }

    #work-section,
    #about-section,
    #contact-section,
    footer {
        padding: 150px 100px 0;
    }

    h2 {
        font-size: 80px;
    }

    #about-section img {
        width: 5000px;
        height: 600px;
        object-position:  20% 70%;
    }

    #about-section p {
        margin-right: 0;
    }

    #about-section p:first-of-type {
        padding-top: 50px;
    }

    .about-content {
        display: flex;
        gap: 50px;
    }

    .contact-links a {
        font-size: 36px;
    }

    .contact-content {
        grid-template-columns: 400px 1fr;
        gap: 30px;
    }

    footer {
        margin-right: 280px;
    }

    footer a {
        font-size: 22px;
    }
}